@model InventoryASP.Models.Search.SearchResultModel

<div class="row sectionHeader">
    <div class="col sectionHeading">
        <h4>Результаты поиска для: "<span>@Model.SearchQuery</span>"</h4>
    </div>
</div>
<div class="row">
    <div class="col sectionContent">
        @if (Model.Devices != null && Model.Devices.Any())
        {
            <table class="table table-hover table-sm indexTable border">
                <thead>
                    <tr>
                        <th colspan="6">Оборудование:</th>
                    </tr>
                </thead>
                @foreach (var device in Model.Devices)
                {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@device.Id">@device.DeviceName</a></td>
                        <td>@device.DeviceType</td>
                        <td>@device.DeviceModel</td>
                        <td>@device.SerialNumber</td>
                        <td>@device.DeviceManufacturer</td>
                        <td>@device.Year</td>
                        <td>
                            @if (device.CurrentHolder != null)
                            {
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@device.CurrentHolder.Id">
                                    @device.CurrentHolder.FullName
                                </a>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        @if (Model.Employees != null && Model.Employees.Any())
        {
            <table class="table table-hover table-sm indexTable border">
                <thead>
                    <tr>
                        <th colspan="6">Сотрудники:</th>
                    </tr>
                </thead>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>
                            <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id">
                                <span>@employee.LastName @employee.Name @employee.Patronymic</span>
                            </a>
                        </td>
                        <td>@employee.Department</td>
                        <td>@employee.Position</td>
                        <td>
                            <ol class="m-0">
                                @foreach (var checkout in employee.Checkouts)
                                {
                                    <li>
                                        <a asp-controller="Device" asp-action="Details" asp-route-id="@checkout.Checkout.Device.Id">
                                            <span>@checkout.Checkout.Device.Type @checkout.Checkout.Device.Name @checkout.Checkout.Device.DeviceModel</span>
                                        </a>
                                    </li>
                                }
                            </ol>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
