<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InventoryASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="mainHeader">
        <div class="bg-dark">
            <div class="container-fluid body-content">
                <div class="navbar navbar-expand flex-row-reverse mb-0">

                    <form method="post" asp-controller="Search" asp-action="Index" class="form-inline" id="searchGlobalForm">
                        <div class="input-group searchGroup">
                            <input class="searchInput" type="search" autocomplete="off" placeholder="Поиск..." name="searchPattern" />
                            <div class="input-group-append">
                                <button type="submit" class="searchBtn"><img src="~/img/search_24px.png"></button>
                            </div>
                        </div>
                    </form>

                    <div class="flex-grow-1">
                        <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index">
                            <span class="logoLeft">Inventory</span><span class="logoRight">App</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--Навигация-->
        <nav class="navbar bg-light navbar-expand-lg">
            <div class="container-fluid body-content">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-lg-inline-flex">
                    <ul class="nav navbar-nav flex-grow-1" id="mainNavbar">
                        <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Device" ? "active" : "")">
                            <a class="nav-link" asp-controller="Device" asp-action="Index">Оборудование</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Employee" ? "active" : "")">
                            <a class="nav-link " asp-controller="Employee" asp-action="Index">Сотрудники</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Accounts" ? "active" : "")">
                                <a class="nav-link " asp-controller="Accounts" asp-action="Index">Пользователи</a>
                            </li>
                        }
                    </ul>
                    <div>
                        <partial name="_LoginPartial" />
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <!--Основной блок-->
    <div class="container-fluid body-content mainContent">
        @RenderBody()
    </div>

    <!--Подвал сайта-->
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2020 - InventoryASP - Все права защищены
        </div>
    </footer>

    <!--Модальные окна-->
    <div class="modal fade bgModal-sm" data-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered" id="modalWindow-content-sm">
        </div>
    </div>

    <div class="modal fade bgModal-m" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" id="modalWindow-content-m">
        </div>
    </div>

    <div class="modal fade bgModal-lg" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" id="modalWindow-content-lg">
        </div>
    </div>


    <!--Скрипты-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
