@model InventoryApp.Models.Device.DeviceIndexModel

<!--Заголовок секции-->
<div class="sectionHeader">
    <div class="row no-gutters">
        <div class="col d-inline-flex sectionHeading">
            <h4 class="flex-grow-1 m-0 text-uppercase pl-2">Оборудование</h4>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <a asp-controller="Device" asp-action="Create" class="btn btn-sm btn-success openModalBtn-lg mr-2">
                    <span><img src="~/icons/add_device_24px.png" class="mr-1" />Добавить</span>
                </a>
            }
            <button class="btn btn-sm btn-secondary" onclick="PrintTable()"><img src="~/icons/print_white_24x24.png" class="mr-1" />Печать</button>
            <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
        </div>
    </div>

    <!--Поиск по разделу-->
    <div class="row no-gutters">
        <form method="get" class="col subSearchForm">
            <div class="input-group searchGroup">
                <div class="input-group-prepend mr-2">
                    <div class="align-middle">
                        <img src="~/img/search_24px.png">
                    </div>
                </div>
                <input id="search-pattern" onkeyup="FilterTable()" class="searchInput flex-grow-1" type="text" autocomplete="off" placeholder="фильтр..." />
            </div>
        </form>
    </div>
</div>

<!--Контент секции-->
<div class="row no-gutters sectionContent">
    <div class="col border table-container">
        <table class="table table-striped table-hover table-sm indexTable">
            <thead>
                <tr>
                    <th onclick="SortTable(0)">#<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(1)">Название<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(2)">Тип<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(3)">Модель<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(4)">Серийный номер<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(5)">Производитель<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(6)">Год выпуска<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    <th onclick="SortTable(7)">Текущий владелец<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                    {
                        <th class="controlCell">Управление</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{var i = 1; }
                @foreach (var device in Model.Devices)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td><a asp-controller="Device" asp-action="Details" asp-route-id="@device.Id">@device.DeviceName</a></td>
                        <td>@device.DeviceType</td>
                        <td>@device.DeviceModel</td>
                        <td>@device.SerialNumber</td>
                        <td>@device.DeviceManufacturer</td>
                        <td>@device.Year</td>
                        <td>
                            @if (device.Checkout != null)
                            {
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@device.Checkout.Employee.Id">
                                    @device.Checkout.Employee.FullName
                                </a>
                            }
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                        {
                            <td class="controlCell">
                                <a class="btn btn-sm btnMini openModalBtn-lg" asp-action="Update" asp-route-id="@device.Id">
                                    <img src="~/icons/icons8_edit_24px.png" alt="Редактировать" title="Редактировать" />
                                </a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-sm btnMini openModalBtn-sm" asp-action="Delete" asp-route-id="@device.Id">
                                        <img src="~/icons/icons8_delete_bin_24px.png" alt="Удалить" title="Удалить" />
                                    </a>
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>





