@model InventoryApp.Models.Device.SelectDevicesModel

<div class="modal-content">
    <!--Заголовок окна-->
    <div class="modal-header">
        <h5 class="modal-title">Выберите свободное оборудование:</h5>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--Основной контент-->
    @if (Model.Devices.Any())
    {
        <div class="modal-body">
            <!--Поиск по разделу-->
            <div class="sectionHeader">
                <div class="row no-gutters">
                    <form method="get" class="col subSearchForm">
                        <div class="input-group searchGroup">
                            <div class="input-group-prepend mr-2">
                                <div class="align-middle">
                                    <img src="~/img/search_24px.png">
                                </div>
                            </div>
                            <input id="search-pattern" onkeyup="FilterTable()" class="searchInput flex-grow-1" type="text" autocomplete="off" placeholder="фильтр..."/>
                        </div>
                    </form>
                </div>
            </div>

            <form method="post" asp-action="CheckOutDevices" asp-controller="Checkout" id="checkout-form">
                <div class="table-container modal-table mt-2">
                    <table class="table table-sm table-hover table-borderless table-striped selection-table indexTable" id="device-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th onclick="SortTable(1)">Название<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                                <th onclick="SortTable(2)">Тип<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                                <th onclick="SortTable(3)">Модель<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                                <th onclick="SortTable(4)">Производитель<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                                <th onclick="SortTable(5)">Зав. номер<span class="pl-1"><img src="~/icons/sorting.png" /></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Devices.Length; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" asp-for="Devices[i].Id" />
                                        <input type="checkbox" asp-for="Devices[i].IsSelected" />
                                    </td>
                                    <td>@Model.Devices[i].DeviceName</td>
                                    <td>@Model.Devices[i].DeviceType</td>
                                    <td>@Model.Devices[i].DeviceModel</td>
                                    <td>@Model.Devices[i].DeviceManufacturer</td>
                                    <td>@Model.Devices[i].SerialNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <input type="hidden" asp-for="EmployeeId" />
            </form>
        </div>
        <!--Кнопки-->
        <div class="modal-footer">
            <button class="btn btn-sm btn-primary" form="checkout-form" type="submit">Добавить</button>
            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Закрыть</button>
        </div>
    }
    else
    {
        <div class="modal-body text-center">
            <p class="font-weight-bold">Нет свободного оборудования. :(</p>
        </div>
        <!--Кнопки-->
        <div class="modal-footer">
            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Закрыть</button>
        </div>
    }
</div>