@model InventoryASP.Models.Employee.EmployeeDetailsModel
<!--Заголовок секции-->
<div class="sectionHeader shadow mainBackgroundColor p-2">
    <h4 class="text-white text-center">Информация о сотруднике</h4>
</div>

<!--основной блок-->
<div class="jumbotron bg-light shadow-lg">

    <div class="row">
        <div class="p-0 col offset-4">
            <!--Табы-->
            <nav class="" id="nav-tabMenu">
                <div class="nav nav-tabs" role="tablist">
                    <a class="nav-item nav-link active" id="nav-main-tab" href="#nav-main" data-toggle="tab" role="tab" aria-controls="#nav-main" aria-selected="true">Устройства на балансе</a>
                    <a class="nav-item nav-link" id="nav-history-tab" href="#nav-history" data-toggle="tab" role="tab" aria-controls="#nav-history" aria-selected="false">История</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <!--фото и профиль-->
        <div class="col-4 p-1">
            <img class="profilePhoto img-thumbnail shadow-sm mb-3" src="~/img/userPhoto.png" width="200" height="200" />

            <div class="mb-1"><span class="font-weight-bold">Фамилия:</span> @Model.LastName</div>
            <div class="mb-1"><span class="font-weight-bold">Имя:</span> @Model.Name</div>
            <div class="mb-1"><span class="font-weight-bold">Отчество:</span> @Model.Patronymic</div>
            <div class="mb-1"><span class="font-weight-bold">Отдел:</span> @Model.Department</div>
            <div class=""><span class="font-weight-bold">Должность:</span> @Model.Position</div>
            <form method="post" class="form-row" asp-action="DeleteEmployee">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>

        </div>

        <!--детализация -->
        <div class="col p-0 bg-white" id="employeeDetail">

            <!--Таб-контент-->
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane show active" id="nav-main" role="tabpanel" aria-labelledby="#nav-main-tab">
                    <form method="post" asp-action="CheckInDevice" id="deleteDeviceForm">
                        <input type="hidden" asp-for="Id" />
                        <table class="table table-sm">
                            <thead class="">
                                <tr>
                                    @if (Model.Checkouts.Any())
                                    {
                                        <th></th>
                                    }
                                    <th scope="col">Название</th>
                                    <th scope="col">Модель</th>
                                    <th scope="col">Тип</th>
                                    <th scope="col">Серийный номер</th>
                                    <th scope="col">Получено</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Checkouts.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" asp-for="Checkouts[i].IsSelected" />
                                            <input type="hidden" asp-for="Checkouts[i].Checkout.Device.Id" />
                                        </td>
                                        <td>@Model.Checkouts[i].Checkout.Device.Name</td>
                                        <td>@Model.Checkouts[i].Checkout.Device.DeviceModel</td>
                                        <td>@Model.Checkouts[i].Checkout.Device.Type</td>
                                        <td>@Model.Checkouts[i].Checkout.Device.SerialNumber</td>
                                        <td>@Model.Checkouts[i].Checkout.Since</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="tab-pane" id="nav-history" role="tabpanel" aria-labelledby="#nav-history-tab">
                    <table class="table table-sm table-fixed">
                        <thead class="">
                            <tr>
                                <th>Название</th>
                                <th>Модель</th>
                                <th>Тип</th>
                                <th>Серийный номер</th>
                                <th>Получено</th>
                                <th>Возвращено</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var history in Model.History)
                            {
                                <tr>
                                    <td>@history.Device.Name</td>
                                    <td>@history.Device.DeviceModel</td>
                                    <td>@history.Device.Type</td>
                                    <td>@history.Device.SerialNumber</td>
                                    <td>@history.CheckedOut</td>
                                    <td>@history.CheckedIn</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--Кнопки добавления и удаления устройств-->
    <div class="row">
        <div class="col offset-4 text-left p-0 py-3">
            <a class="btn btn-success" id="employee-selectDeviceBtn" asp-controller="Device" asp-action="GetAvalibleDevices" asp-route-employeeId="@Model.Id">Добавить устройство</a>
            <button type="submit" form="deleteDeviceForm" class="btn btn-danger">Удалить</button>
        </div>
    </div>

</div>
