@model InventoryASP.Models.Employee.EmployeeDetailsModel
@inject Microsoft.AspNetCore.Identity.UserManager<InventoryAppData.Models.ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<InventoryAppData.Models.ApplicationUser> SignInManager


<div class="sectionContent detailsSection">
    <!--Заголовок-->
    <div class="row detailsHeader">
        <div class="col">
            <a class="close btn-close" asp-controller="Employee" asp-action="Index">
                <span class="text-black">&times;</span>
            </a>
        </div>
    </div>

    <!--основной контент-->
    <div class="row detailsBodyContent">

        <!--фото и профиль-->
        <div class="col-4">
            <div class="">
                <img class="profilePhoto img-thumbnail" src="~/img/userPhoto.png" />
                <div class="mt-3"><span class="font-weight-bold">Фамилия:</span> @Model.LastName</div>
                <div class="mt-1"><span class="font-weight-bold">Имя:</span> @Model.Name</div>
                <div class="mt-1"><span class="font-weight-bold">Отчество:</span> @Model.Patronymic</div>
                <div class="mt-1"><span class="font-weight-bold">Отдел:</span> @Model.Department</div>
                <div class="mt-1"><span class="font-weight-bold">Должность:</span> @Model.Position</div>
            </div>
        </div>

        <!--детализация -->
        <div class="col-8" id="employeeDetail">

            <!--Табы-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#nav-main">Оборудование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nav-history">История</a>
                </li>
            </ul>

            <!--Таб-контент-->
            <div class="tab-content" id="nav-tabContent">

                <!--Оборудование на балансе-->
                <div class="tab-pane show active" id="nav-main">
                    <table class="table table-sm table-hover" id="deviceTable">
                        <thead class="">
                            <tr>
                                <td>#</td>
                                <td>Оборудование</td>
                                <td>Серийный номер</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td class="text-center">Управление</td>
                                }
                            </tr>
                        </thead>
                        @{ var i = 1; }
                        <tbody>
                            @foreach (var checkout in Model.Checkouts)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>
                                        <a asp-controller="Device" asp-action="Details" asp-route-id="@checkout.Checkout.Device.Id">
                                            @checkout.Checkout.Device.Name @checkout.Checkout.Device.Manufacturer @checkout.Checkout.Device.DeviceModel @checkout.Checkout.Device.Type
                                        </a>
                                    </td>
                                    <td>@checkout.Checkout.Device.SerialNumber</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td class="text-center">
                                            <a class="btn btn-sm openModalBtn-sm btnMini p-1"
                                               asp-controller="Checkout"
                                               asp-action="CheckInDevice"
                                               asp-route-deviceId="@checkout.Checkout.Device.Id">
                                                <img src="~/icons/icons8_delete_16px.png" />
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--История-->
                <div class="tab-pane" id="nav-history">
                    <table class="table table-sm table-hover table-fixed deviceHistoryTable">
                        <thead class="">
                            <tr>
                                <td>#</td>
                                <td>Оборудование</td>
                                <td>Серийный номер</td>
                                <td>Получено</td>
                                <td>Возвращено</td>
                            </tr>
                        </thead>
                        @{i = 1; }
                        <tbody>
                            @foreach (var history in Model.History)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>
                                        <a asp-controller="Device" asp-action="Details" asp-route-id="@history.Device.Id">
                                            @history.Device.Name @history.Device.Manufacturer @history.Device.DeviceModel @history.Device.Type
                                        </a>
                                    </td>
                                    <td>@history.Device.SerialNumber</td>
                                    <td>@history.CheckedOut</td>
                                    <td>@history.CheckedIn</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--Кнопки добавления и удаления устройств-->
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="col offset-4 text-left py-2 pb-3">
                <a class="btn btn-sm btn-success openModalBtn-lg"
                   asp-controller="Device"
                   asp-action="GetAvailableDevices"
                   asp-route-employeeId="@Model.Id">
                    <img src="~/icons/add_shopping_cart_24px.png" />Добавить оборудование
                </a>
            </div>
        }
    </div>

</div>
