@model InventoryASP.Models.Employee.EmployeeIndexModel

<h3 class="text-center">Сотрудники</h3>

<div class="row p-2">
    <span><a asp-controller="Employee" asp-action="NewEmployee" class="btn btn-dark">Новый сотрудник</a></span>
</div>

<table class="table table-hover table-sm table-striped table-borderless">
    <thead class="thead-dark">
        <tr>
            <th class="">Id</th>
            <th>Ф.И.О.</th>
            <th>Отдел</th>
            <th>Должность</th>
            <th>Оборудование на балансе</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FullName</td>
                <td>@employee.Department</td>
                <td>@employee.Position</td>
                <td>
                    <ol class="">
                        @foreach(var device in employee.Devices)
                        {
                            <li>@device.Type @device.Name @device.DeviceModel</li>
                        }
                    </ol>
                </td>
            </tr>
        }
    </tbody>
</table>

