@model InventoryASP.Models.Employee.SelectEmployeeModel

<div class="modal-content">

    <!--Заголовок окна-->
    <div class="modal-header">
        <h5 class="modal-title">Выберите сотрудника:</h5>
        <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--Основной контент-->
    <div class="modal-body">
        <form method="post" asp-action="CheckOutEmployee" asp-controller="Checkout" id="selectEmployeeForm">
            <table class="table table-sm table-striped table-hover">
                @{ var i = 1;}
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="employee@(i)" name="employeeId" value="@employee.Id" />
                                <label class="custom-control-label" for="employee@(i++)" style="cursor: pointer">
                                    <span>@employee.LastName @employee.Name @employee.Patronymic</span>
                                </label>
                            </div>

                        </td>
                    </tr>
                }
            </table>
            <input type="hidden" name="deviceId" value="@Model.DeviceId" />
        </form>
    </div>

    <!--Кнопки-->
    <div class="modal-footer">
        <button class="btn btn-primary" form="selectEmployeeForm" type="submit">Выбрать</button>
        <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
</div>