@model InventoryASP.Models.Device.DeviceDetailModel

<div class="sectionContent detailsSection">
    <!--Заголовок секции-->
    <div class="row detailsHeader">
        <div class="col">
            <a class="close btn-close" asp-controller="Device" asp-action="Index">
                <span>&times;</span>
            </a>
        </div>
    </div>

    <!--Основной контент-->
    <div class="row detailsBodyContent">
        <!--Информация об оборудовании-->
        <div class="col-5">
            <div class="border p-2">

                <div class="border-bottom mb-2">
                    <h5 class="font-weight-bold">Информация:</h5>
                </div>

                <div><span class="font-weight-bold">Наименование: </span>@Model.DeviceName</div>
                <div><span class="font-weight-bold">Тип: </span>@Model.DeviceType</div>
                <div><span class="font-weight-bold">Модель: </span>@Model.DeviceModel</div>
                <div><span class="font-weight-bold">Производитель: </span>@Model.DeviceManufacturer</div>
                <div><span class="font-weight-bold">Год выпуска: </span>@Model.Year</div>
                <div><span class="font-weight-bold">Серийный номер: </span>@Model.DeviceSerialNumber</div>
                <div>
                    <span class="font-weight-bold">Текущий владелец: </span>
                    @if (Model.CurrentHolder != null)
                    {
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.CurrentHolder.Id">@Model.CurrentHolder.FullName</a>
                    }
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="DeviceDescription">Примечание:</label>
                    <textarea rows="10" class="form-control description" asp-for="DeviceDescription" readonly contenteditable="false"></textarea>
                </div>
            </div>
        </div>

        <!------Таблица истории------>
        <div class="col-7">
            <div class="p-2 border deviceHistoryPane">

                <div class="d-flex align-content-end align-middle border-bottom mb-2">
                    <h5 class="font-weight-bold flex-grow-1">История:</h5>
                    @if (User.IsInRole("Admin"))
                    {
                        @if (Model.CurrentHolder == null)
                        {
                            <div>
                                <a class="btn btn-sm btn-success openModalBtn-lg pb-0 py-0"
                                   asp-controller="Employee"
                                   asp-action="SelectEmployee"
                                   asp-route-deviceId="@Model.DeviceId">
                                    <img src="~/icons/add_shopping_cart_24px.png" />Выдать сотруднику
                                </a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a class="btn btn-sm btn-danger openModalBtn-sm pb-0 py-0"
                                   asp-controller="Checkout"
                                   asp-action="CheckInDevice"
                                   asp-route-deviceId="@Model.DeviceId">
                                    <img src="~/icons/add_shopping_cart_24px.png" />Забрать у сотрудника
                                </a>
                            </div>
                        }

                    }
                </div>

                <table class="table table-hover table-sm deviceHistoryTable">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Получено</td>
                            <td>Возвращено</td>
                            <td>Сотрудник</td>
                        </tr>
                    </thead>
                    @{ var i = 1; }
                    <tbody>
                        @foreach (var history in Model.CheckoutHistory)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@history.Since</td>
                                <td>@history.Until</td>
                                <td>
                                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@history.Holder.Id">
                                        @history.Holder.FullName
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>