@model InventoryASP.Models.Device.DeviceDetailModel
<!--основной блок-->
<div class="sectionContent detailsSection">

    <div class="row detailsHeader">
        <div class="col">
            <a class="close btn-close" asp-controller="Device" asp-action="Index">
                <span>&times;</span>
            </a>
        </div>
    </div>

    <div class="row detailsBodyContent">
        <div class="col-5">
            <div class="border p-2">
                <h5 class="border-bottom pb-2 font-weight-bold">Информация:</h5>
                <div><span class="font-weight-bold">Наименование: </span>@Model.DeviceName</div>
                <div><span class="font-weight-bold">Тип: </span>@Model.DeviceType</div>
                <div><span class="font-weight-bold">Модель: </span>@Model.DeviceModel</div>
                <div><span class="font-weight-bold">Производитель: </span>@Model.DeviceManufacturer</div>
                <div><span class="font-weight-bold">Серийный номер: </span>@Model.DeviceSerialNumber</div>
                <div>
                    <span class="font-weight-bold">Текущий владелец: </span>

                    @if (Model.CurrentHolder != null)
                    {
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.CurrentHolder.Id">@Model.CurrentHolder.FullName</a>
                    }

                </div>
                <div class="form-group">
                    <label class="font-weight-bold" asp-for="DeviceDescription">Примечание:</label>
                    <textarea rows="10" class="form-control description" asp-for="DeviceDescription" readonly contenteditable="false"></textarea>
                </div>
            </div>
        </div>

        <!------Таблица истории------>
        <div class="col-7">
            <div class="p-2 border deviceHistoryPane">
                <h5 class="border-bottom font-weight-bold pb-2">История:</h5>
                <table class="table table-hover table-sm deviceHistoryTable">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Получено</td>
                            <td>Возвращено</td>
                            <td>Сотрудник</td>
                        </tr>
                    </thead>
                    @{ var i = 1; }
                    <tbody>
                        @foreach (var history in Model.CheckoutHistory)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@history.Since</td>
                                <td>@history.Until</td>
                                <td>
                                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@history.Holder.Id">
                                        @history.Holder.FullName
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>