@model InventoryASP.Models.Device.DeviceIndexModel

<h3 class="text-center">Каталог оборудования</h3>

<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Тип</th>
            <th>Название</th>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th>Производитель</th>
            <th>Текущий владелец</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model.Devices)
        {
            <tr>
                <td>@device.Id</td>
                <td>@device.DeviceType</td>
                <td>@device.DeviceName</td>
                <td>@device.DeviceModel</td>
                <td>@device.SerialNumber</td>
                <td>@device.DeviceManufacturer</td>
                <td>@device.HolderName</td>
            </tr>
        }
    </tbody>
</table>

