@model InventoryASP.Models.Device.DeviceIndexModel

<div class="pb-2 mainScreen">

    <!--Заголовок секции-->
    <div class="sectionHeader clearfix">
        <h4 class="text-white float-left">Каталог оборудования</h4>
        <a asp-controller="Device" asp-action="NewDevice" class="float-right btn btn-sm btn-success shadow openModalBtn-lg">
            <span><img src="~/icons/icons8_add_32.png" /></span>Добавить
        </a>
    </div>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Модель</th>
                <th>Серийный номер</th>
                <th>Производитель</th>
                <th>Текущий владелец</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Devices.Count; i++)
            {
                <tr>
                    <td><a asp-action="Details" asp-route-id="@Model.Devices[i].Id">@Model.Devices[i].DeviceName</a></td>
                    <td>@Model.Devices[i].DeviceType</td>
                    <td>@Model.Devices[i].DeviceModel</td>
                    <td>@Model.Devices[i].SerialNumber</td>
                    <td>@Model.Devices[i].DeviceManufacturer</td>
                    <td><a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Devices[i].HolderId">@Model.Devices[i].HolderFullName</a></td>
                    <td>
                        <a class="btn btn-sm btn-primary btnMini openModalBtn-sm" asp-action="EditDevice" asp-route-id="@Model.Devices[i].Id">
                            <img src="~/icons/icons8_pencil_16.png" alt="Редактировать" />
                        </a>
                        <a class="btn btn-sm btn-danger btnMini openModalBtn-sm" asp-action="DeleteDevice" asp-route-id="@Model.Devices[i].Id">
                            <img src="~/icons/icons8_trash_16.png" alt="Удалить" />
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>


