@model InventoryASP.Models.Device.DeviceIndexModel
@inject Microsoft.AspNetCore.Identity.UserManager<InventoryAppData.Models.ApplicationUser> UserManager

<!--Заголовок секции-->
    <div class="sectionHeader">
        <div class="row no-gutters">
            <div class="col d-inline-flex sectionHeading">
                <h4 class="flex-grow-1 m-0">Оборудование</h4>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Device" asp-action="Create" class="btn btn-sm btn-success openModalBtn-lg">
                        <span><img src="~/icons/icons8_add_32.png" /></span>Добавить
                    </a>
                }
            </div>
        </div>

        <!--Поиск по разделу-->
        <div class="row no-gutters">
            <form method="post" asp-controller="Search" asp-action="FindDevice" class="col subSearchForm">
                <div class="input-group searchGroup">
                    <div class="input-group-prepend">
                        <button type="submit" class="searchBtn"><img src="~/img/search_24px.png"></button>
                    </div>
                    <input class="searchInput flex-grow-1" type="search" autocomplete="off" placeholder="Поиск по оборудованию..." name="searchQuery" />

                </div>
            </form>
        </div>

    </div>

<!--Контент секции-->
<div class="row no-gutters sectionContent">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Модель</th>
                    <th>Серийный номер</th>
                    <th>Производитель</th>
                    <th>Текущий владелец</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Model.Devices)
                {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@device.Id">@device.DeviceName</a></td>
                        <td>@device.DeviceType</td>
                        <td>@device.DeviceModel</td>
                        <td>@device.SerialNumber</td>
                        <td>@device.DeviceManufacturer</td>
                        <td>
                            @if (device.CurrentHolder != null)
                            {
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@device.CurrentHolder.Id">
                                    @device.CurrentHolder.FullName
                                </a>
                            }
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a class="btn btn-sm btn-primary btnMini openModalBtn-sm" asp-action="EditDevice" asp-route-id="@device.Id">
                                    <img src="~/icons/icons8_pencil_16.png" alt="Редактировать" />
                                </a>
                                <a class="btn btn-sm btn-danger btnMini openModalBtn-sm" asp-action="DeleteDevice" asp-route-id="@device.Id">
                                    <img src="~/icons/icons8_trash_16.png" alt="Удалить" />
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





